.root {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 10px 40px;

  padding: 25px 30px;

  background-color: var(--primary);
  border: 1px solid black;
}

.text {
  color: var(--white);
}

@media (width <= 765px) {
  .root {
    grid-template-columns: 1fr;
  }
}
