.heading {
  font-size: 26px;
  font-weight: 500;
  line-height: 35.41px;
}

.heading2 {
  font-size: 20px;
  font-weight: 500;
  line-height: 29.96px;
}

.heading2Bold {
  font-size: 20px;
  font-weight: 700;
  line-height: 29.96px;
}

.paragraph {
  font-size: 18px;
  font-weight: 500;
  line-height: 24.52px;
}

.paragraph2 {
  font-size: 16px;
  font-weight: 500;
  line-height: 21.79px;
}

.paragraph2Bold {
  font-size: 16px;
  font-weight: 700;
  line-height: 21.79px;
}

.small {
  font-size: 12px;
  font-weight: 300;
  line-height: 16.34px;
}

.smallBold {
  font-size: 12px;
  font-weight: 500;
  line-height: 16.34px;
}
